{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Shares</th>
          <th scope="col">Price</th>
          <th scope="col">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">CASH</th>
          <td></td>
          <td></td>
          <td>{{cash}}</td>
        </tr>
      </tbody>
    </table>

{% endblock %}