{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">Shares($)</th>
          <th scope="col">Price($)</th>
          <th scope="col">Total($)</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in stocks %}
        <tr>
            <th scope="row">{{stock.stock}}</th>
            <td>{{stock.shares}}</td>
            <td>{{stock.price}}</td>
            <td>{{stock.total}}</td>
        </tr>
        {% endfor %}
        <tr>
          <th scope="row">CASH</th>
          <td></td>
          <td></td>
          <td>{{cash}}</td>
        </tr>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">All Total:</th>
          <th colspan="3">{{all_total}}</th>
        </tr>
      </tbody>
    </table>

{% endblock %}